[user]
	name = Felix Hanley
	email = felix@userspace.com.au
[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /home/felix/.gitignore.global
	commitGraph = true
[gc]
	writecommitGraph = true
[pull]
	ff = only
[push]
	default = simple
	followTags = true
[alias]
	st = status --short
	ci = commit
	br = branch
	# Branch ages
	bra = !git for-each-ref --sort='-authordate' --format='%(authordate:short), %(authorname), %(refname:lstrip=2)' 'refs/remotes'
	co = checkout
	diff = diff --word-diff
	cp = cherry-pick
	cp = clone
	sl = stash list
	sp = stash pop
	ls = ls-files
	# Log of current branch
	lg = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
	# Log of all branches
	lga = !"git lg --all"
	lgd = log -u
	lgf = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lgt = tag --sort=-v:refname -n1
	stl = !"git log | grep git-subtree-dir | awk '{ print $2 }'"
	sta = !"f() { git subtree add --squash --prefix=$2 $1 master; }; f"
	stu = "!f() { git subtree pull --squash --prefix=$2 $1 master; }; f"
	fsrs = !"git fetch && git stash && git rebase && git stash pop"
[color]
	ui = true
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[branch]
	autosetupmerge = true
#[github]
#	user = felix
[gui]
	spellingdictionary = none
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[merge]
    #tool = vimdiff3
	tool = meld
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.userspace.com.au
	smtpUser = felix@userspace.com.au
[github]
	user = felix
[url "git@src.userspace.com.au:"]
        insteadOf = https://src.userspace.com.au/
[includeIf "gitdir:MYOB-Technology/"]
	path = ~/.gitconfig.myob
[includeIf "gitdir:src.userspace.com.au/"]
        path = ~/.gitconfig.userspace
[credential "https://github.com"]
	helper = pass-store
