[user]
	name = Felix Hanley
	email = felix@userspace.com.au
[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /home/felix/.gitignore.global
	commitGraph = true
	quotePath = false
[init]
	defaultBranch = master
[gc]
	writecommitGraph = true
[pull]
	ff = only
[push]
	default = simple
	followTags = true
[alias]
	br = branch
	bra = for-each-ref --sort='-authordate' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' 'refs/remotes' # Branch ages
	ci = commit
	co = checkout
	cp = cherry-pick
	diff = diff --word-diff
	difff = diff --name-only
	lg = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph # Log of current branch
	lga = !"git lg --all" # Log of all branches
	lgc = !"git log --date=short --pretty=format:%ad | sort | uniq -c" # Commit count per day
	lgd = log -u # Log differences
	lgs = log --oneline --shortstat # Log with stats
	lgf = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat # Log with files
	lgt = tag --sort=-v:refname -n1 # Log of tags
	ls = ls-files
	lsc = diff --name-only --diff-filter=U --relative
	sl = stash list
	sp = stash pop
	st = status --short
	sw = switch
	wip = for-each-ref --sort='-authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
[color]
	ui = true
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[branch]
	autosetupmerge = true
[gui]
	spellingdictionary = none
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[merge]
	tool = meld
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.userspace.com.au
	smtpUser = felix@userspace.com.au
[github]
	user = felix
[url "git@src.userspace.com.au:"]
	insteadOf = https://src.userspace.com.au/
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
#[includeIf "gitdir:src.userspace.com.au/"]
#        path = ~/.gitconfig.userspace
[includeIf "gitdir:github.com/toennjes/"]
        path = ~/.gitconfig.toennjes
[credential "https://github.com"]
	helper = pass-store
[receive]
	advertisePushOptions = true
