[user]
	name = Felix Hanley
	email = felix@userspace.com.au
[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /home/felix/.gitignore.global
[alias]
	st = status --short
	ci = commit
	br = branch
	co = checkout
	diff = diff --word-diff
	cp = cherry-pick
	cp = clone
	sl = stash list
	sp = stash pop
	ls = ls-files
	#gui = !sh -c '/usr/local/opt/git/libexec/git-core/git-gui'
	lg = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
	lga = !"git lg --all"
	lgd = log -u
	lgf = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lgt = tag --sort=-v:refname -n1
	stl = !"git log | grep git-subtree-dir | awk '{ print $2 }'"
	sta = !"f() { git subtree add --squash --prefix=$2 $1 master; }; f"
	stu = "!f() { git subtree pull --squash --prefix=$2 $1 master; }; f"
	fsrs = !"git fetch && git stash && git rebase && git stash pop"
[color]
	ui = true
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[branch]
	autosetupmerge = true
[github]
	user = felix
[gui]
	spellingdictionary = none
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[merge]
    #tool = vimdiff3
	tool = meld
[push]
	default = simple
	followTags = true
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.userspace.com.au
	smtpUser = felix@userspace.com.au
[github]
	user = felix
[includeIf "gitdir:MYOB-Technology/"]
	path = ~/.gitconfig.myob
[credential "https://github.com"]
	helper = pass-store
